<h1>Hello Person </h1>
<form>
  <fieldset class="form-group">
    <label for="formGroupExampleInput">Put in your location to find your closet metro station</label>
    <input type="text" class="form-control" id="formGroupExampleInput">
    <button type="submit" class="btn btn-primary">Find Station</button>
  </fieldset>
</form>
